<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link rel="icon" href="weather.png">
        <link rel="stylesheet" href="/css/style.css"> 
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="mavi.jpeg">
            <p>Created by {{name}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>