<!DOCTYPE html>
<html>
    <head>
        <title>Article not found!</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        {{>header}}
        <h3>{{title}}</h3>
        {{>footer}}
    </body>
</html>